.contact {
    padding: 6.25rem 0;
}

textarea,
input {
    width: 100%;
    padding: 0.63rem;
    margin: 0.63rem 0;
    border: 1px solid #f0e9ff;
    border-radius: 5px;
    padding-left: 1.125rem;
    font-size: 0.81rem;
    background: transparent;
    line-height: 1.5;
    color: #495057;
}

textarea {
    resize: vertical;
}

textarea:focus,
input:focus {
    outline: none;
}


.half-row {
    width: 50%;
    float: left;
}

.contact-name {
    padding-right: 0.94rem;
}

.contact-email {
    padding-left: 0.94rem;
}

.contact-button {
    margin-top: 1.875rem;
}