
/* Main banner */

.main-banner {
  background: url('../images/main-banner.png') top center;
  background-size: cover;
  background-position: center;
  min-height: 51.56rem; /*825px*/
}


/* Main section */

.main-section {
  padding: 6.25rem 1.875rem; 
}

.main-section>div {
  width: 50%;
  float: left;
}

.main-section__info {}

.main-section__welcome {
  line-height: 1.19rem;
  color: rgb(121, 121, 121);
  letter-spacing: 2px;
  margin-top: 0;
  margin-bottom: 1.25rem;
}

.main-section__introduction {
  font-size:3.75rem;
  font-weight: 500;
  line-height: 3.75rem;
  color: rgb(5, 54, 77);
  margin-top: 0;
  margin-bottom: 1.25rem;
}

.main-section__position {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 0px;
  color: #05364d;
  margin-top: 0;
  margin-bottom: 1.25rem;
}

.main-section__social-networks a {
  color: #8fa1aa;
  font-size: 1.25rem;
  display: inline-block;
  margin-right: 1rem;
}

.main-section__social-networks a:hover i {
  color: #1c44e4;
}

.main-section__action {
  margin-top: 1.875rem;
}

.main-section__image {
  text-align: right;
}

/* Statistics */

.statistics {
  padding-top: 6.25rem;
}

.statistics__item {
  width: 150px;
  display: inline-block;
  background-color: #f8faff;
  text-align: center;
  padding: 0.3125rem 0.625rem;
  margin-right: 1.25rem;
}

.statistics__number {
  font-size: 1.375rem;
  margin-bottom: 0.3125rem;
  color: #1c44e4;
  background: linear-gradient(90deg, #1345e6 0%, #ed239f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.statistics__title {
  font-size: 1rem;
  color: #797979;
  font-weight: 300;
}

/* About me section */
.about-me {
  padding: 6.25rem 0;
}

.about-me>div {
  width: 50%;
  float: left;
}

.about-me__image img {
  width: 90%;
}


.about-me__description {
  font-size: 0.875rem;
  font-weight: 300;
  color: #797979;
  line-height: 1.69rem;
}

/* Services */

.services {
  padding-top: 6.25rem;
}

.service-card {
  display: inline-block;
  width: 30%;
  padding: 3.75rem 1.875rem;
  background-color: #f8faff;
  margin-right: 3%;
  text-align: center;
}

.service-card:hover {
  background-color: #5f30ff;
}

.service-card:hover .service-card__title,
.service-card:hover .service-card__description,
.service-card:hover .service-card__link {
  color: white;
}


.service-card__icon {
  width: 4.375rem;
  height: 4.375rem;
}

.service-card__title {
  color: #05364d;
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 1.25rem;
  text-transform: capitalize;
}

.service-card__description {
  font-size: 0.875rem;
  line-height: 1.69rem;
  font-weight: 300;
  color: #797979;
}

.service-card__link {
  font-size: 0.8125rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #05364d;
  text-decoration: none;
}


/* Clients section */

.clients {
  padding-top: 6.25rem;
}

.client__items {}

.client-item>div {
  width: 50%;
  float: left;
}

.client-item__image img {
  width: 100%;
}

.client-item__info {
  padding-top: 3.125rem;
  padding-left: 3.125rem;
}

.client-item__name {
  font-size: 1.25rem;
  margin-top: 0;
  margin-bottom: 0.25rem;
}

.client-item__position {
  font-size: 0.875rem;
  font-weight: 300;
  color: #5b6d75;
  line-height: 1.69rem;
  margin-bottom: 1rem;
}

.client-item__review {
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1.69rem;
  color: #5b6d75;
  margin-top: 0;
  margin-bottom: 1rem;
}

.client-item__rate {
  color: #ffd804;
  font-size: 0.94rem;
}

.client-item__rate .star-disbled {
  color: #e6e2e2;
}



/* Portfolio section styles */

.portfolio {
  padding: 6.25rem 0;
}


.portfolio__filters {
  margin-top: 3.125rem;
  padding: 0;
  list-style: none;
  display: inline-block;
  margin-bottom: 1.56rem;
}

.portfolio__filters li {
  display: inline-block;
  margin-right: 2.5rem;
  text-transform: uppercase;
  font-size: 0.81rem;
  cursor: pointer;
}

.portfolio__filters li:hover {
  color: #1345e6;
}

.portfolio__filters li.active {
  color: #1345e6;
}

.portfolio-items {
  position: relative;
}

.portfolio-item {
  position: relative;
  display: inline-block;
  cursor: pointer;
  width: 50%;
  padding: 0.625rem;
}

.portfolio-item1 {
  padding-left: 0;
}

.portfolio-item img {
  width: 100%;
}

.portfolio-item2 {
  position: absolute;
  top: 0;
  right: 0;
}

.portfolio-item3 {
  position: absolute;
  bottom: 0;
  right: 0;
}

.portfolio-item__overlay {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(19, 69, 230, 0.9);
  visibility: hidden;
}

.portfolio-item__info {
  position: absolute;
  z-index: 1;
  bottom: 2.75rem;
  left: 5rem;
  color: #ffffff;
  visibility: hidden;
}

.portfolio-item__info a {
  color: white;
  text-decoration: none;
}

.portfolio-item:hover .portfolio-item__overlay {
  visibility: visible;
  top: 20px;
  left: 20px;
}

.portfolio-item:hover .portfolio-item__info {
  visibility: visible;
  bottom: 24px;
  left: 60px;
}


/* Blog section styles */
.blog {
  padding-bottom: 110px;
}

.blog-items {
  margin-top: 50px;
}

.blog-item {
  display: inline-block;
  width: 30%;
  margin-right: 3%;
}

.blog-item:hover {
  box-shadow: 0px 10px 20px rgba(5, 54, 77, 0.1);
}

.blog-item:hover .blog-item__info {
  background-color: #fff;
}

.blog-item:hover .blog-item__image img {
  transform: scale(1.1);
}

.blog-item__image {
  overflow: hidden;
}

.blog-item__image img {
  width: 100%;
  display: block;
}

.blog-item__info {
  background: #f8faff;
  padding: 1.875rem;
  color: #797979;
}

.blog-item__main-info i {
  margin-right: 0.3125rem;
}

.blog-item__main-info span {
  font-size: 0.875rem;
  margin-right: 3.125rem;
  cursor: pointer;
  font-weight: 100;
}

.blog-item__info span:hover {
  color: #1345e6;
}

.blog-item__title {
  color: #05364d;
  font-size: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 0.94rem;
}

.blog-item__text {
  font-size: 0.94rem;
  line-height: 1.69rem;
  font-weight: 300;
}

.blog-item__link {
  font-size: 0.8125rem;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  color: #05364d;
  display: inline-block;
  position: relative;
}

.blog-item__link:hover {
  color: #ed239f;
}

/* Partners section styles */

.partners {}

.partner {
  display: inline-block;
  padding: 0 30px;
}

.partner img {
  display: block;
}